.main {
    padding: 22px 17px 0px 17px;
    display: flex;
    flex-direction: column;
    height: 30px;
    @media screen and (min-width: 1200px) {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 45px;
    }
}

.utilsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: 768px) and (max-width: 1199px){
        margin: 0 65px;
    }
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 5px;
    }
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding: 50px 0px 55px 0px;
    @media screen and (min-width: 650px) {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 70px;
        padding-left: 0;
    }

    a {
        text-decoration: none;
        color: var(--secondary);
    }
}