.container
    display: grid
    grid-template-rows: 1fr 1fr
    background-color: var(--primary-very-light)
    border-radius: 5px
    cursor: pointer
    width: 265px
    height: 400px
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em
    [data-theme="dark"] &
        box-shadow: none
    &:hover
        transform: scale(1.01)

.flagImage
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em

.imageContainer
    max-height: 200px
    overflow: hidden

.details
    padding: 10px 0px 0px 25px
    h1
        font-size: 1.1rem
    p
        margin: 5px 0px
        font-size: 0.85rem
    b
        font-weight: 600