.headerContainer {
  background-color: var(--primary-very-light);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 27px -5px;
  @media screen and (min-width: 768px) {
    padding-top: 0px;
    height: 90px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.headerTitle {
  font-weight: 800;
  font-size: 0.87rem;
  color: var(--secondary);
  text-decoration: none;
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.themeButton {
  background-color: transparent;
  border: 0;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 0.75rem;
  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }
}
